// config
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// content
.top-wrapper {
  position: relative;
  height: 200px;
  width: 100%;
  .joint {
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 0;
    left: 50px;
    border-top-left-radius: 50%;
    background: rgba(184, 135, 11, 0.5);
  }
  .title {
    position: absolute;
    height: 120px;
    width: 80%;
    bottom: 0;
    left: 170px;
    background: rgba(184, 135, 11, 0.5);
  }
}

.bottom-wrapper {
  position: relative;
  width: 100%;
  .navbar {
    position: absolute;
    height: 600px;
    width: 120px;
    top: 0;
    left: 50px;
    background: rgba(184, 135, 11, 0.5);
  }
  .page-content {
    position: relative;
    width: calc(100% - 170px);
    left: 170px;
  }
}
