// heading font
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

// variables
$dirtyGold: rgba(109, 85, 25, 0.85);
$maxYellowRed: #ffc857;

// config
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// content
.content {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 20px;
}

.top-wrapper {
  position: relative;
  height: 200px;
  width: 100%;
  .joint {
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 0;
    left: 50px;
    border-top-left-radius: 50%;
    background: $dirtyGold;
    border-left: solid 3px #222;
    border-top: solid 3px #222;
  }
  .title {
    position: absolute;
    height: 120px;
    width: 80%;
    bottom: 0;
    left: 170px;
    background: linear-gradient(to right, $dirtyGold, $dirtyGold 50%, #ffffff00);
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-top: solid 3px #222;
    h1 {
      font-family: 'Redressed', cursive;
      font-size: 60px;
      color: #222;
    }
  }
}

.bottom-wrapper {
  position: relative;
  width: 100%;
  .navbar {
    position: absolute;
    height: 600px;
    width: 170px;
    top: 0;
    left: 50px;
    background: linear-gradient($dirtyGold, $dirtyGold 50%, #ffffff00);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-left: solid 3px #222;
    div {
      margin: 5px auto;
      margin-left: 15px;
      padding: 10px;
      background: rgba(60, 47, 31, 0.7);
      color: rgba(204, 204, 204, 0.9);
      font-weight: 700;
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 70%;
      border: solid 2px #222;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: transparentize($color: $maxYellowRed, $amount: .3);
        color: #222;
      }
    }
  }
  
  .page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    left: 200px;
    background: transparentize($color: $maxYellowRed, $amount: .2);
    padding: 10px;
    border-radius: 20px;
    border: solid 3px #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222;
  }
}

// backgrounf blur
.bg-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(1px);
  z-index: -1;
  background: url(https://wallpapertag.com/wallpaper/full/0/f/f/129855-free-bar-background-2500x1107-full-hd.jpg);
}

// main-page
.welcome {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.restaurant-img {
  img {
    border: solid 3px #222;
    border-radius: 10px;
  }
}

.description {
  & > * {
    padding: 3px;
  }
}

// menu
.day {
  height: 120px;
  width: 90%;
  max-width: 800px;
  display: flex;
  border: solid 2px #222;
  border-radius: 15px;
  margin: 5px;
  background: rgba(170, 170, 170, 0.3);
  div {
    padding: 5px;
    min-width: 170px;
  }
  .left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-right: solid 2px #222;
    margin: 5px 0;
    :nth-child(1) h2 {
      color: rgb(140, 50, 0);
    }
  }
  .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 16px;
    h5 {
      color: #444;
    }
  }
}

// delivery
.list {
  .list-title {
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #222;
  }
  .meal-name {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    .price-pick {
      display: flex;
      align-items: center;
      h3 {
        color: rgb(202, 9, 9);
      }
      & > * {
        padding: 0 7px;
      }
      input {
        width: 50px;
        padding-right: 0;
      }
    }
  }
  .proceed {
    padding-bottom: 10px;
    border-top: solid 1px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    div {
      height: 50px;
      width: 180px;
      background: rgba(60, 47, 31, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 2px #222;
      border-radius: 5px;
      color: #222;
      cursor: pointer;
      &:hover {
        background: darken($color: $maxYellowRed, $amount: 25);
        color: rgba(220, 220, 220, 0.9);
      }
    }
  }
}
